@*<a asp-area="Component" asp-controller="Case" asp-action="Index">Gabinetes</a>
<br />
<a asp-area="Component" asp-controller="GraphicsCard" asp-action="Index">Placas de Vídeo</a>
<br />
<a asp-area="Component" asp-controller="Memory" asp-action="Index">Memórias RAM</a>
<br />
<a asp-area="Component" asp-controller="Motherboard" asp-action="Index">Placas-Mãe</a>
<br />
<a asp-area="Component" asp-controller="PowerSupply" asp-action="Index">Fontes</a>
<br />
<a asp-area="Component" asp-controller="Storage" asp-action="Index">Storage</a>
<br />
<a asp-area="Component" asp-controller="Processor" asp-action="Index">Processadores</a>*@


<div class="hw-navtab-wrapper hw-navtab-floating">
    <header class="hw-navtab">
        <ul class="hw-navtab-itens">
            <li class="mr-2">
                <div class="flex items-center hw-navtab-item-wrapper">
                    <div class="hw-navtab-item">
                        <a class="hw-navtab-item-link" asp-area="Component" asp-controller="Case" asp-action="Index">Gabinetes</a>
                    </div>
                </div>
            </li>
            <li class="mr-2">
                <div class="flex items-center hw-navtab-item-wrapper">
                    <div class="hw-navtab-item">
                        <a class="hw-navtab-item-link" asp-area="Component" asp-controller="GraphicsCard" asp-action="Index">Placas de Vídeo</a>
                    </div>
                </div>
            </li>
            <li class="mr-2">
                <div class="flex items-center hw-navtab-item-wrapper">
                    <div class="hw-navtab-item">
                        <a class="hw-navtab-item-link" asp-area="Component" asp-controller="Memory" asp-action="Index">Memórias RAM</a>
                    </div>
                </div>
            </li>
            <li class="mr-2">
                <div class="flex items-center hw-navtab-item-wrapper">
                    <div class="hw-navtab-item">
                        <a class="hw-navtab-item-link" asp-area="Component" asp-controller="Motherboard" asp-action="Index">Placas-Mãe</a>
                    </div>
                </div>
            </li>
        </ul>
    </header>
</div>