@{
    Layout = "_Layout";
    ViewData["Title"] = "Início";
}

<a asp-controller="Case" asp-action="Index">Gabinetes</a>
<br />
<a asp-controller="GraphicsCard" asp-action="Index">Placas de Vídeo</a>
<br />
<a asp-controller="Memory" asp-action="Index">Memórias RAM</a>