<li class="mr-2">
    <div class="flex items-center hw-navtab-item-wrapper">
        <div class="hw-navtab-item hw-navtab-item-clickable">
            <a class="hw-navtab-item-link" asp-action="Create">Cadastrar</a>
        </div>
    </div>
</li>

<li class="mr-2">
    <div class="flex items-center hw-navtab-item-wrapper">
        <div class="hw-navtab-item hw-navtab-item-clickable">
            <a class="hw-navtab-item-link" asp-action="Import">Importar</a>
        </div>
    </div>
</li>