@model string

@{
    ViewBag.Title = "Confirmar Cadastro";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, veja o seu email @Model para ativar sua conta.
    </p>
</div>