@using HWParts.Core.Application.ViewModels.ComponentPrice;

@model IList<ComponentPriceViewModel>

@{
    ViewData["Title"] = "Preços";
}

<h4>@ViewData["Title"]</h4>

<p>
    <a href="price/create">Criar Novo</a>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/assets/img/@(item.Platform.ToString()).png" style="width: 10%" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@ViewData["ReturnUrl"]" id="back-button" class="btn btn-info">Voltar para o produto</a>

@section Scripts {
    <script>
        let currentUrl = window.location.href;
        let previousUrl = currentUrl.replace('/price', '');

        $('#back-button').attr('href', previousUrl);
    </script>
}