@using HWParts.Core.Application.ViewModels.ComponentPrice;

@model IList<ComponentPriceViewModel>

@{
    ViewData["Title"] = "Preços";
}

<h4>@ViewData["Title"]</h4>

<p>
    <a href="price/create">Criar Novo</a>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/assets/img/@(nameof(item.Platform)).png" style="width: 20%" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@ViewData["ReturnUrl"]" class="btn btn-info">Voltar para o produto</a>