@using HWParts.Core.Application.ViewModels.ComponentPrice;

@model IList<ComponentPriceViewModel>

@{
    ViewData["Title"] = "Preços";
}

<h4>@ViewData["Title"]</h4>

<p>
    <a href="register">Criar Novo</a>
</p>

<vc:summary />

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/assets/img/@(item.Platform.ToString()).png" style="width: 10%" />
                </td>
                <td>
                    <a href="@item.Url">@item.Price</a>
                </td>
                <td>
                    <a href="edit/@item.Id" class="btn btn-warning">
                        <span class="fas fa-edit"></span>
                    </a>
                    <a href="remove/@item.Id" class="btn btn-danger">
                        <span class="fas fa-trash-alt"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@ViewData["ReturnUrl"]" id="back-button" class="btn btn-info">Voltar para o produto</a>

@section Scripts {
    <script>
        let currentUrl = window.location.href;
        let previousUrl = currentUrl.replace('/price', '');

        $('#back-button').attr('href', previousUrl);
    </script>
}