@using HWParts.Core.Application.ViewModels.Case;
@using HWParts.Core.Infrastructure.Common.Pagination;
@model PaginationObject<CaseViewModel>

@{
    ViewData["Title"] = "Gabinetes";
}

<partial name="_IndexNavtab" />

<div class="mt-45">
    <table class="hw-table">
        <thead class="hw-table-head">
            <tr>
                <th>
                </th>
                <th>
                    <div class="hw-table-text">
                        @Html.DisplayNameFor(model => model.ModelObject.FullName)
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="hw-table-body">
            @foreach (var item in Model.Result)
            {
                <tr class="hw-table-row">
                    <td>
                        <img class="hw-table-row-image" src="@item.ImageUrlFirst" />
                    </td>
                    <td>
                        <p class="hw-table-row-text truncate">
                            <a asp-action="Detail" asp-route-id="@item.Id" class="hw-table-row-text-link">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </a>
                            
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>