.hw-navtab-wrapper {
    top: 50px;
    left: 0;
    padding: 0.8rem 2.2rem 0rem;
    width: 100%;
    z-index: 500;
}

.hw-navtab-floating {
    position: fixed;
}

.hw-navtab {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.15);
    width: 100%;
    z-index: 40001;
    position: relative;
    border-radius: .5rem;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    background: rgb(255, 255, 255);
    -webkit-transition: all .5s;
}

.hw-navtab-items-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.hw-navtab-itens {
    display: flex !important;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hw-navtab-item-wrapper {
    border-radius: 4px;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
    height: 100%;
}

.hw-navtab-item {
    padding: .5rem !important;
}

.hw-navtab-item-clickable {
    cursor: pointer;
}

.hw-navtab-item-clickable:hover {
    background-color: #F6F6F6;
    border-radius: .5rem;
}

.hw-navtab-item-link {
    color: #626262;
}

    .hw-navtab-item-link:hover {
        text-decoration: none;
        color: #626262;
    }

.hw-navtab-list-item-end {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}