.hw-pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    align-items: flex-end;
    justify-content: flex-end;
}

.hw-page-item .hw-page-link {
    width: 30px;
    height: 30px;
}

.hw-page-item:first-child .hw-page-link {
    margin-right: 8px;
}

.hw-page-item:last-child .hw-page-link {
    margin-left: 8px;
}

.btn-nav-pagination {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(0,0,0,.6);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: #f0f0f0;
    margin: 0;
    z-index: 200;
}

    .btn-nav-pagination:hover {
        color: #FFF;
        background-color: #7367F0;
        text-decoration: none;
    }

.btn-pagination-disabled {
    cursor: default;
    pointer-events: none;
    opacity: .5;
}

.btn-pagination {
    width: 35px;
    height: 35px;
    padding-right: 5px;
    border: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(0,0,0,.6);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: #f0f0f0;
    margin: 0;
    z-index: 200;
    font-weight: 600;
    font-size: 0.75rem;
}

    .btn-pagination:hover {
        color: #7367F0;
        text-decoration: none;
    }

.btn-pagination-no-click {
    cursor: default;
    pointer-events: none;
}

.btn-pagination-first {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.btn-pagination-last {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.btn-current {
    background-color: #7367F0;
    color: #fff;
    font-weight: 600;
    cursor: default;
    pointer-events: none;
    z-index: 500;
}