.hw-table {
    width: 100%;
    font-size: 1rem;
    border-collapse: separate;
    border-spacing: 0 .5rem;
    padding: 0 1rem;
    margin: 0;
    min-width: 400px;
    position: relative;
}

.hw-table-head {
    z-index: 200;
    width: 100%;
    position: relative;
}

    .hw-table-head tr {
        background: none;
        box-shadow: none;
    }

    .hw-table-head th {
        padding: 10px 15px;
        border: 0;
        text-align: left;
        font-size: .85rem;
        padding-top: 0;
        padding-bottom: 0;
    }

.hw-table-text {
    text-transform: uppercase;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer;
    color: #626262;
}

.hw-table-body {
    width: 100%;
}

.hw-table-row {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
    background: #fff;
    transition: all .3s ease;
}

    .hw-table-row:hover {
        z-index: 200;
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        cursor: pointer;
    }

    .hw-table-row td {
        border: 0;
        padding: 10px;
        display: table-cell;
        vertical-align: middle;
    }

        .hw-table-row td:first-child {
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }

        .hw-table-row td:last-child {
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }


.hw-table-row-text {
    max-width: 23rem;
    color: #626262;
    font-weight: 500 !important;
    margin: 0;
}

.hw-table-row-text-link {
    color: #626262;
    font-weight: 600;
    font-size: .9rem;
}

    .hw-table-row-text-link:hover {
        font-weight: 600;
        color: #7367F0 !important;
        text-decoration: none;
    }

    .hw-table-row-text-link-primary:hover {
        color: #007bff;
        text-decoration: none;
    }

.hw-table-row-text-link-warning:hover {
    color: #ffc107;
    text-decoration: none;
}

.hw-table-row-text-link-danger:hover {
    color: #dc3545;
    text-decoration: none;
}

.hw-table-row-image {
    height: 50px;
}

.truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}