@{
    ViewData["Title"] = "Index";
}


<a asp-controller="AdminMotherboard" asp-action="Index">Placas Mãe</a>
<br />
<a asp-controller="AdminGraphicsCard" asp-action="Index">Placas de Vídeo</a>
<br />
<a asp-controller="AdminMemory" asp-action="Index">Memórias RAM</a>
<br />
<a asp-controller="AdminProcessor" asp-action="Index">Processadores</a>
<br />
<a asp-controller="AdminStorage" asp-action="Index">Storage</a>
<br />
<a asp-controller="AdminCase" asp-action="Index">Gabinetes</a>
<br />
<a asp-controller="AdminPowerSupply" asp-action="Index">Fontes</a>