@using HWParts.Core.Infrastructure.Identity.Models;

<ul class="hw-navbar-items-list flex">
    @if (User.IsInRole(ApplicationRoles.Super) ||
            User.IsInRole(ApplicationRoles.Admin))
    {
        <li>
            <div class="hw-navbar-item">
                <a class="hw-navbar-item-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
            </div>
        </li>
    }
</ul>