@using Microsoft.AspNetCore.Identity
@using HWParts.Core.Domain.Entities
@using HWParts.Core.Infrastructure.Identity.Models;
@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

<ul class="hw-navbar-items-list flex">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <div class="hw-navbar-item">
                <a class="hw-navbar-item-link" asp-area="Account" asp-controller="Account" asp-action="Manage" title="Manage">@User.Identity.Name!</a>
            </div>
        </li>

        <li>
            <form class="form-inline" asp-area="Account" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="btn btn-link hw-navbar-item-link">Sair</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Account" asp-controller="Account" asp-action="Register">Cadastrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Account" asp-controller="Account" asp-action="Login">Entrar</a>
        </li>
    }
</ul>