<nav class="hw-navbar-wrapper">
    <header class="hw-navbar hw-navbar-items-wrapper">
        <div class="hw-navbar-itens">
            <div class="flex">
                <partial name="_ItemsNavbarPartial" />
            </div>
            <div class="hw-logo mx-auto flex items-center">
                <a class="hw-logo-text text-primary" asp-controller="Home" asp-action="Index">HWParts</a>
            </div>
            <div class="flex">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>
</nav>