@model HWParts.Core.Application.ViewModels.Memory.ImportMemoriesViewModel
@{
    ViewData["Title"] = "Importar Memórias RAM";
}

<partial name="_TitleAdminComponentPage" />

@using (@Html.BeginForm(
    "Import",
    "AdminMemory",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.TextBoxFor(x => x.File, new { type = "file" })

    <button type="submit" class="btn btn-block btn-primary">
        Importar
    </button>
}