@model HWParts.Core.Domain.Commands.Admin.Motherboards.ImportMotherboardsCommand
@{
    ViewData["Title"] = "ImportProcessorsView";
}

@using (@Html.BeginForm( 
     "ImportMotherboards",
     "Admin",
     FormMethod.Post,
     new { enctype = "multipart/form-data" }))
{
    @Html.TextBoxFor(x => x.File, new { type = "file" })

    <button type="submit" class="btn btn-block btn-primary">
        Importar
    </button>
}